// Slider
.slider {
  background-color: $color-bg-slider;
  color: $color-text-main;
  // height: 100vh;

  &__content {

    &__title {
      font-style: normal;
      font-weight: 300;
      font-size: $font-size-title;
    }

    &__preview {
      font-style: normal;
      font-weight: 100;
      font-size: $font-size-preview;
    }
  }

  &__navigation {

    &__dots {
      display: flex;
      justify-content: center;
      width: 100%;

      & .dot {
        border: 1px solid $color-text-main;
        border-radius: 50%;
        height: 15px;
        margin: 0 8px;
        width: 15px;

        &:hover {
          background: $color-text-main;
          cursor: pointer;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
