// Slider
.slider {
  background-color: $color-bg-slider;
  color: $color-text-main;
  height: 100vh;

  &__content {}

  &__title {
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
  }

  &__preview {
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
  }

  &__button {
    color: $color-text-main;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background: none;
    border: 1px solid $color-text-main;
    border-radius: 3px;
  }
}
