$color-bg-main: #4c657f;

$color-text-main: #fff;
$color-text-main-hover: #d4cdcd;
$color-arrows: #000;

$font-main: "Roboto";
$font-size-title: 46px;
$font-size-preview: 14px;

// Slider
$color-bg-slider: #787878;


$main-width: 1168px;
$section-width: 928px;
