<div class="slider">

  <div class="slider__content"></div>

  <div data-direction="left" class="slider__navigation__arrow_left"></div>
  <div data-direction="right" class="slider__navigation__arrow_right"></div>

  <div class="slider__navigation__dots"></div>

</div>
