<div class="slider">

  <div class="slider__content">
    
  </div>

  <div class="slider__navigation">

    <div class="slider__navigation__arrow_left">

    </div>

    <div class="slider__navigation__arrow_right">

    </div>

    <div class="slider__navigation__dots">

    </div>
  </div>

</div>
